.success {
  & h4 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  & a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
}
