/*Kadeem Lewis
//ksl29
//12-01-2023
//IT301 - 001
//Unit 11 Assignment*/

.success {
  & h4 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  & a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
}
